* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.Cards {
  width: 778px;
  height: 200px;
  /* background-color: blue; */
  display: flex;
  margin: auto;
}

.Cards img {
  width: 320px;
  height: 200px;
  border-radius: 5px;
  margin-right: 20px;
  padding: 5px;
}

.container {
  /* display: flex; */
  gap: 20px;
  padding: 20px;
}
body {
  width: 100%;
  height: auto;
}
.header-container {
  width: 100%;
  height: 65px;
  padding: 0px 28px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 12px 16px -2px rgba(0, 0, 0, 0.052);
  position: sticky;
  top: 0;
  z-index: 1;
}
.header-left {
  display: flex;
  gap: 50px;
}
.icon-border {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f8fc;
  transition: 0.3s;
  cursor: pointer;
}
.header-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.HeaderNavContent {
  display: flex;
}
.header-button {
  width: 124.8px;
  height: 37px;
  background-color: blue;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bannerImg {
  width: 1280px;
  height: 134px;
  margin: auto;
  margin-top: 20px;
}
.bannerImg img {
  width: 100%;
  height: 135px;
  /* background-color: blue; */
}
.breakingItem {
  display: flex;
  gap: 10px;
  width: 1280px;
  height: 42px;
  margin: auto;
  background-color: rgb(245, 248, 255);
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.breakingItem p {
  color: black;
  background-color: yellow;
  width: 85.71px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperRight img {
  width: 778px;
  height: 517px;
}
.wrapperRight {
  display: flex;
  /* justify-content: center; */
  /* justify-content: space-between; */
  max-width: 1280px;
  height: 549px;
  margin: auto;
  gap: 20px;
  justify-content: space-between;

  /* background-color: dimgray; */
}
.wrapperRightD img {
  width: 378px;
  height: 200px;
}
.wrapperTexts {
  width: 378px;
  height: 118px;
  background-color: rgb(90, 46, 192);
}
.airplaneTexts {
  width: 378px;
  height: 118px;
}

.cards-parent {
  display: flex;
  margin: auto;
  max-width: 1280px;
  height: 1000px;
  gap: 20px;
  background-color: blue;
  position: relative;
  justify-content: space-around;
  /* object-fit: contain; */
}
.cards-right {
  position: sticky;
  height: 680px;
  top: 65px;
  margin-top: 10px;
}
.cards-rigth-top img {
  width: 380px;
  height: 265px;
}
.cards-rigth-bottom img {
  width: 380px;
  height: 400px;
}
.br {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: auto;
  margin-top: 20px;
}
.three-date {
  width: 1280px;
  height: 448px;
  /* background-color: blue; */
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.three-date img {
  width: 100%;
  height: 70%;
  border-radius: 8px;
}
.footer {
  background-color: blue;
  width: 100%;
  height: 397px;
}
.footer-top {
  height: 96px;
  width: 1186px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* background-color: blueviolet; */
  gap: 30px;
  margin-bottom: 20px;
}
.svg-one {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f5f8fc;
  justify-content: center;
  align-items: center;
  display: flex;
  /* fill: blue; */
}
.middle-left {
  width: 184px;
  height: 400px;
  color: #ebebeb;
}
.middle-middle {
  width: 141px;
  height: 200px;
  color: #cbcbcb;
}
.footer-middle {
  display: flex;
  max-width: 1180px;
  height: 241px;
  margin: auto;
  gap: 90px;
}
.middle-right {
  color: #cbcbcb;
  width: 141px;
  height: 180px;
}
.footer-bottom {
  max-width: 1180px;
  margin: auto;
  color: #ededed;
}
.middle-th-scroll {
  width: 1280px;
  height: 535px;
  background-color: blue;
  display: flex;
  margin: auto;
  justify-content: space-around;
  padding-top: 20px;
}
.middle-two img {
  height: 410px;
  width: 380px;
}
.middle-th-img img {
  width: 380px;
  height: 135px;
}
.middle-th-text {
  /* background-color: dimgray; */
  height: 351px;
  padding: 20px;
}
